---
layout: portfolio
title: Portfolio Piece 1
company: Whitepages
year: 2015
category: UX
---

<% content_for :moreinfo do %>
<ul class="skills">
  <li class="cap">Skills</li>
  <li class="cap">(</li>
  <li class="first">Icon creation</li>
  <li>Print collateral</li>
  <li>Digital collateral</li>
  <li>Astronomy</li>
  <li class="cap">)</li>
</ul>
<div class="info1">
  <h3>DESIGN</h3>
  <p>We needed a way to package on-brand print and digital collateral in a customizable way. It had to elegantly give an overview of GalaxySuite products while differentiating them, so I created a "playing card" version of each product. With fun yet descriptive icons, we aimed for a design that felt more genuine and authentic while utilizing white space and vivid colors in a unique way.</p>
  <h3>PRODUCTS</h3>
  <p>The GalaxySuite is a collection of marketing services recently created by All Star's business development team. The sales team needed a way to selectively introduce certain services to customers. The collateral package would inform customers of the benefits to their business if they had this particular "card up their sleeve."</p>
</div>
<div class="info2">
  <h3>PROCESS</h3>
  <ul>
    <li class="first">Finalized core messaging with copywriter, sales, and marketing</li>
    <li>Provided options for product icons</li>
    <li>Ideated on ways to deliver product information selectively to customers</li>
    <li>Mocked up the idea of displaying information like playing cards</li>
    <li>Presented mockups to teams for approval and feedback</li>
    <li>Final tweaks before sending to print</li>
  </ul>
</div>
<% end %>